div#redsidebar
  div.header 
    img(src='imgs/CouchDB-SVG.svg').logo.svg 
    span.title Fauxton
      span.subtitle  Visual Guide

  div.section.overview 
    img(src='imgs/clipboard.png').clipboard
    div OVERVIEW
  div.section.basics
    img(src='imgs/basics-large-icon.png').clipboard
    div FAUXTON BASICS
  div.section.documentation
    img(src='imgs/docs-large-icon.png').clipboard
    div ANSWERS

div#content.showSideBar
  div.hello
