div#redsidebar
  div.header 
    img(src='imgs/CouchDB-SVG.svg').logo.svg 
    span.title Fauxton
      span.subtitle  Visual Guide
  a(href="#getting-started").section.getting-started(data-nav="getting-started")
    div.large-icon
    div.big-nav-subtitle GETTING STARTED
  a(href="#using-fauxton").section.using-fauxton(data-nav="using-fauxton")
    div.large-icon
    div.big-nav-subtitle USING FAUXTON
  a(href="#answers").section.answers(data-nav="answers")
    div.large-icon
    div.big-nav-subtitle ANSWERS

div#content.showSideBar
  div#hamburger.showSideBar
    i(aria-hidden="true").fa.fa-bars
  div#getting-started.section.shown
    div#middleBar
      img(src='imgs/getting-started-light.png').topic-image
      div.section-title GETTING STARTED
    div#rightContent
      div.intro-section
        h1 Welcome to Fauxton.
        
        div Apache CouchDB is a database that uses JSON for documents, JavaScript for MapReduce indexes, and regular HTTP for its API.

        div Fauxton is a native web-based interface built into CouchDB. It provides a basic interface to the majority of the functionality, including the ability to create, update, delete and view documents and design documents. It provides access to the configuration parameters, and an interface for initiating replication.
      div.intro-section
        h1 Getting Started
        h2 Download
        div.dl-space Start by downloading the CouchDB suite:

        div 1. Go to 
          a(href='https://couchdb.apache.org/') couchdb.apache.org
          span , and click 
          a(href='https://couchdb.apache.org/#download')
            img(src='imgs/download-btn.png').download-btn
    
        div 2. Learn how to install and setup CouchDB from 
          a(href='http://docs.couchdb.org/en/latest/install/index.html') here
          span , then install Fauxton via 
          a(href='https://www.npmjs.com/package/fauxton') npm  
  div#using-fauxton.section
    div#middleBar
      img(src='imgs/using-fauxton-light.png').topic-image
      div.section-title USING FAUXTON
      div.fauxton-toc
        div.icon-menu
          div
            a(href="#_all_dbs").icon-menu-_all_dbs
              i(aria-hidden="true").fa.fa-database
            div.line
          div
            a(href="#setup").icon-menu-setup
              i(aria-hidden="true").fa.fa-wrench
            div.line
          div
            a(href="#_activetasks").icon-menu-_activetasks
              i(aria-hidden="true").fa.fa-tasks
            div.line
          div
            a(href="#_config").icon-menu-_config
              i(aria-hidden="true").fa.fa-cog
            div.line
          div
            a(href="#replication").icon-menu-replication
              img(src='imgs/replicate.svg').svg.replicate-icon 
            div.line
          div
            a(href="#documentation").icon-menu-documentation
              img(src='imgs/bookmark.svg').svg.docs-icon
            div.line
          div
            a(href="#login").icon-menu-login
              img(src='imgs/user.svg').svg.user-icon 
            div.line
          div
            a(href="#verifyinstall").icon-menu-verifyinstall
              i(aria-hidden="true").fa.fa-check-circle
            
        div.toc
          a(href="#intro").heading#toc-intro.selected 
            div.heading-title 
              span.number 00
              span.heading-text
          a(href="#_all_dbs").heading#toc-_all_dbs 
            div.heading-title 
              span.number 01 // 
              span.heading-text ALL DATABASES
            div.subheading ADD A NEW DATABASE
            div.subheading SEARCH FOR A DATABASE
            div.subheading VIEW A DATABASE
            div.subheading ACTIONS
          a(href="#setup").heading#toc-setup
            div.heading-title 
              span.number 02 // 
              span.heading-text SETUP
          a(href="#_activetasks").heading#toc-_activetasks
            div.heading-title 
              span.number 03 // 
              span.heading-text ACTIVE TASKS
          a(href="#_config").heading#toc-_config
            div.heading-title 
              span.number 04 // 
              span.heading-text CONFIGURATION
          a(href="#replication").heading#toc-replication
            div.heading-title 
              span.number 05 // 
              span.heading-text REPLICATION
          a(href="#documentation").heading#toc-documentation 
            div.heading-title 
              span.number 06 // 
              span.heading-text DOCUMENTATION 
          a(href="#login").heading#toc-login 
            div.heading-title 
              span.number 07 // 
              span.heading-text LOGIN / ADMIN
          a(href="#verifyinstall").heading#toc-verifyinstall 
            div.heading-title 
              span.number 08 // 
              span.heading-text VERIFY

    div#rightContent
      div.title#intro INTRODUCTION
        div Overview Overview Overview OverviewOverview OverviewOverview OverviewOverview OverviewOverview OverviewOverview OverviewOverview OverviewOverview OverviewOverview OverviewOverview OverviewOverview OverviewOverview Overview
      div.title#_all_dbs All Databases
        div  All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases All Databases
      div.title#setup Setup
        div   Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup Setup
      div.title#_activetasks All Active Tasks
         div All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks All Active Tasks
      div.title#_config Main Configuration
        div  Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration Main Configuration
      div.title#replication Replication
        div  Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication Replication
      div.title#documentation DOCUMENTATION 
        div DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION DOCUMENTATION 
      div.title#login Login/User Management
         div Login/User Management  Login/User Management  Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management Login/User Management
      div.title#verifyinstall Verify
        div  Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify Verify
  div#answers.section
    div#middleBar 
      img(src='imgs/answers-light.png').topic-image
      div.section-title Answers
    div#rightContent Answers RightContent
  
    
