div#redsidebar
  div.header 
    img(src='imgs/CouchDB-SVG.svg').logo.svg 
    span.title Fauxton
      span.subtitle  Visual Guide
  a(href="#getting-started").section.getting-started(data-nav="getting-started")
    div.large-icon
    div.big-nav-subtitle GETTING STARTED
  a(href="#using-fauxton").section.using-fauxton(data-nav="using-fauxton")
    div.large-icon
    div.big-nav-subtitle USING FAUXTON
  a(href="#answers").section.answers(data-nav="answers")
    div.large-icon
    div.big-nav-subtitle ANSWERS

div#content.showSideBar
  div#hamburger.showSideBar
    i(aria-hidden="true").fa.fa-bars
  div#getting-started.section.shown
    div#middleBar
      img(src='imgs/getting-started-light.png').topic-image
      div.section-title GETTING STARTED
    div#rightContent
      div.intro-section
        h1 Welcome to Fauxton.
        
        div Apache CouchDB is a database that uses JSON for documents, JavaScript for MapReduce indexes, and regular HTTP for its API.

        div Fauxton is a native web-based interface built into CouchDB. It provides a basic interface to the majority of the functionality, including the ability to create, update, delete and view documents and design documents. It provides access to the configuration parameters, and an interface for initiating replication.
      div.intro-section
        h1 Getting Started
        h2 Download
        div.dl-space Start by downloading the CouchDB suite:

        div 1. Go to 
          a(href='https://couchdb.apache.org/') couchdb.apache.org
          span , and click 
          a(href='https://couchdb.apache.org/#download')
            img(src='imgs/download-btn.png').download-btn
    
        div 2. Learn how to install and setup CouchDB from 
          a(href='http://docs.couchdb.org/en/latest/install/index.html') here
          span , then install Fauxton via 
          a(href='https://www.npmjs.com/package/fauxton') npm  
  div#using-fauxton.section
    div#middleBar
      img(src='imgs/using-fauxton-light.png').topic-image
      div.section-title USING FAUXTON
      div.fauxton-toc
        div.icon-menu
          div
            a(href="#_all_dbs").icon-menu-_all_dbs
              i(aria-hidden="true").fa.fa-database
            div.line
          div
            a(href="#setup").icon-menu-setup
              i(aria-hidden="true").fa.fa-wrench
            div.line
          div
            a(href="#_activetasks").icon-menu-_activetasks
              i(aria-hidden="true").fa.fa-tasks
            div.line
          div
            a(href="#_config").icon-menu-_config
              i(aria-hidden="true").fa.fa-cog
            div.line
          div
            a(href="#replication").icon-menu-replication
              img(src='imgs/replicate.svg').svg.replicate-icon 
            div.line
          div
            a(href="#documentation").icon-menu-documentation
              img(src='imgs/bookmark.svg').svg.docs-icon
            div.line
          div
            a(href="#login").icon-menu-login
              img(src='imgs/user.svg').svg.user-icon 
            div.line
          div
            a(href="#verifyinstall").icon-menu-verifyinstall
              i(aria-hidden="true").fa.fa-check-circle
            
        div.toc
          a(href="#intro").heading#toc-intro.selected 
            div.heading-title 
              span.number 00
              span.heading-text
          a(href="#_all_dbs").heading#toc-_all_dbs 
            div.heading-title 
              span.number 01 // 
              span.heading-text ALL DATABASES
            div.subheading ADD A NEW DATABASE
            div.subheading SEARCH FOR A DATABASE
            div.subheading VIEW A DATABASE
            div.subheading ACTIONS
          a(href="#setup").heading#toc-setup
            div.heading-title 
              span.number 02 // 
              span.heading-text SETUP
          a(href="#_activetasks").heading#toc-_activetasks
            div.heading-title 
              span.number 03 // 
              span.heading-text ACTIVE TASKS
          a(href="#_config").heading#toc-_config
            div.heading-title 
              span.number 04 // 
              span.heading-text CONFIGURATION
          a(href="#replication").heading#toc-replication
            div.heading-title 
              span.number 05 // 
              span.heading-text REPLICATION
          a(href="#documentation").heading#toc-documentation 
            div.heading-title 
              span.number 06 // 
              span.heading-text DOCUMENTATION 
          a(href="#login").heading#toc-login 
            div.heading-title 
              span.number 07 // 
              span.heading-text LOGIN / ADMIN
          a(href="#verifyinstall").heading#toc-verifyinstall 
            div.heading-title 
              span.number 08 // 
              span.heading-text VERIFY

    div#rightContent
     div.chapter#intro 
        :markdown
          # INTRODUCTION 
          ## Features Overview

          When you first start to use Fauxton, the left most navigation panel
          will allow you jump quickly between viewing different parts of what's
          going on in your CouchDB instance.

          You can expand or collapse the navigation by clicking on the area 
          above the topmost tab, "Databases", where the icon of the three
          horizontal lines is.

          [Databases](#_all_dbs) will show you a list of all your databases,
          their size, number of documents, and provides quick links to it's
          permissions page and replication page.

          [Active Tasks](#_activetasks) displays a list of the running
          background tasks on the server. Background tasks include view index
          building, compaction and replication. This page is an interface to
          the [Active Tasks API](http://docs.couchdb.org/en/latest/api/server/common.html#api-server-active-tasks)
          call.

          [Config](#_config) is an interface for the configuration of your
          CouchDB installation. The interface allows you to edit different
          configurable parameters. For more details on configuration, see
          [Configuring CouchDB](http://docs.couchdb.org/en/latest/config/index.html#config).

          [Replication](#replication) is an interface to the replication
          system, enabling you to initiate replication between local and remote
          databases.

          [Documentation](http://docs.couchdb.org/en/latest/)
          will direct you to your local copy of the documentation. The link 
          shown in this guide is to the online version.

          [Login/User Management](#login) lets you can change your password,
          or add administrator to your CouchDB instance.

          [Verify](#verifyinstall) verifies your installation and allows you to
          check whether all of the components of your CouchDB installation are
          correctly installed.
      
      div.chapter#_all_dbs
        :markdown
          # All Databases
          ** 1 Add a new Database **
          Click this button on the top bar, and
          enter the name of the database you want to create.

          ** 2 Search for a Database **
          This text field auto-completes and jumps directly to a specified
          database.

          ** 3 View a Database  **
          This link will take to that database's "[All Docs](#page-all-docs)"
          page where you can view all of that database's contents. You can also
          delete, replicate, and change the permissions for a database from the
          database's 'All Docs' page.

          ** 4 Replication Link **
          Jump directly to the Replication page for this database.

          ** 5 Permissions Link  **
          Jump directly to the Permissions page for this database.

      div.chapter#setup
        :markdown
          # Setup

      div.chapter#_activetasks
        :markdown
          # Active Tasks

          ** 1 Change Polling Interval  **
          The status of each task can change as you are watching the Active 
          Tasks page. The page auto-updates, but polls at regular intervals. You
          can set the amount of time that the page updates itself by dragging on
          this bar.

          ** 2 API URL  **
          This page is an interface to the
          [Active Tasks API](http://docs.couchdb.org/en/latest/api/server/common.html#api-server-active-tasks)
          call. You can view or copy the raw JSON by clicking on this button.

          ** 3 Filter  **
          You can filter by the type of task, or search active tasks by
          database name (either source or target) using these tabs.
      
      div.chapter#_config
        :markdown
          # Configuration

          An interface into the configuration of your CouchDB installation. The
          interface allows you to edit the different configurable parameters. 
          For more details on configuration, see the
          [Configuring CouchDB](http://docs.couchdb.org/en/latest/config/index.html#config)
          section.

      div.chapter#replication
        :markdown
          # Replication

          This is the interface to the replication system, enabling you to initiate
          replication between local and remote databases.

          You will see two boxes, with 3 boxes in each bigger box.

          Depending on how big your screen is, the top (or leftmost box, labeled
          \#1 in the example) is the Source database. The bottom (or rightmost
          box, label \#2) is the Target database.

          From the Source database box (\#1), you can choose an existing 
          database from the dropdown, by selecting 'Local' like in the image to 
          the left. Or you can specify a remote database as the Source, by 
          clicking on 'Remote' in that box, and typing in the remote database's
          address.

          In the Target database box (\#2), choose either a local or remote
          database. If you want to create a new database, and replicate into
          that new DB, check the 'Create Target' button.

          For continuous Replications, select the 'continuous' checkbox.
          'Continous' means that the target database will update itself whenever
          the source database is updated, from now on. It will continue to 
          update itself until you cancel the continous replication.

          If you are specifying a remote database name, you must specify the 
          full URL of the remote database (including the host, port number and 
          database name). If the remote instance requires authentication, you
          can specify the username and password as part of the URL, for example
          ``http://username:pass@remotehost:5984/demo``.

          Under the [Active Tasks](#page-active-tasks) tab, you should see in 
          the table your new created replication. You might miss it if the 
          database being replicated is on the small side, but continous 
          replications will always show up while they are active.

          For more information, see
          [/_replicate](http://docs.couchdb.org/en/latest/api/server/common.html#api-server-replicate).

          For more information on replication, see
          [Replication](http://docs.couchdb.org/en/latest/replication/index.html#replication).

      div.chapter#documentation
        :markdown
          # Documentation

          Here you will find helpful online and offline versions of CouchDB Documentation, as well as links to various related links regarding the CouchDB community.
      
      div.chapter#login 
        :markdown
          # Login/User Management

          You can change your password, or add admins to your CouchDB instance within this tab.

      div.chapter#verifyinstall
        :markdown
          # Verify

          The Verify Installation allows you to check whether all of the components of your CouchDB installation are correctly installed.

  div#answers.section
    div#middleBar 
      img(src='imgs/answers-light.png').topic-image
      div.section-title Answers
    div#rightContent Answers RightContent
  
    
